// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

// Font sizes

@font-size__xs_s: ceil(0.5 * @font-size__base); // 7px
@font-size__s_l: ceil(1.15 * @font-size__base); // 16px
@font-size__xl_s: ceil(1.85 * @font-size__base); // 26px
@font-size__xl_l: ceil(2.15 * @font-size__base); // 30px
@font-size__xl_xl: ceil(2.55 * @font-size__base); // 36px

//  Font families
@font-family-poppins: 'Poppins', sans-serif;
@font-family-oswald: 'Oswald', sans-serif;


//  Fonts
@font-family-name__base: @font-family-poppins;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Responsive breakpoints

@screen__m_s: 480px;
@screen__m_l: 767px;

//   Font-Weights

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-semibold: 600;
@font-weight-bold: 700;

// Colors

@color-elogic-black: #222;
@color-elogic-gray-subtle: #eeeeee;;
@color-elogic-gray-main: #888;
@color-elogic-gray-discounts: #555;
@color-elogic-gray-dark: #333;
@color-elogic-gray-dropdown: #777;
@color-elogic-gray-banner: #F3F3F3;
@color-elogic-white: #fff;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;
